<template>
    <Header/>
        <h1 class="card-title text-left m-5">{{ $route.params.title }}</h1>
        <p class="card-body text-left m-5">{{ $route.params.body }}</p>
    <Footer/>
</template>

<script>
import Header from "@/components/Header.vue"
import Footer from "@/components/Footer.vue"
export default {
    components: {
        Header, Footer
    }
}
</script>