<template>
    <h1 class="hidden">Регистрация</h1>
    <Header/>
    <Register/>
    <Footer/>
</template>

<script>
import Register from "@/components/Register.vue"
import Header from "@/components/Header.vue"
import Footer from "@/components/Footer.vue"
export default {
    components: {
        Register, Header, Footer
    }
}
</script>