<template>
    <div>
      <header>
        <HeaderVue/>
      </header>
  
      <main>
        <MainVue/>
      </main>
  
      <footer>
        <FooterVue/>
      </footer>
    </div>
  </template>
  
  <script>
  import HeaderVue from '@/components/Header.vue'
  import MainVue from '@/components/Main.vue'
  import FooterVue from '@/components/Footer.vue'
  
  export default {
    components: {
      HeaderVue, MainVue, FooterVue
    }  
  }
  </script>