
<template>
        <div class="py-14 bg-white">
 <div class="container">
   <div class="row">
     <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
       <!-- heading  -->
       <h2 class="display-3 mt-5 mb-3 text-black fw-bold">Не пропускайте <br> свежие новости!</h2>
         <!-- para  -->
       <p class="lead text-black px-lg-8 mb-6">На нашем сайте каждый день выходят актуальные статьи, <br> зарегистрируйтесь, чтобы не пропустить их выход</p>
       <router-link to="/registration" class="btn btn-primary">Зарегистрироваться</router-link>
     </div>
   </div>
</div>
</div>
</template>