<template>
  <div class="form-print">
    <form @submit.prevent>
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input v-model="card.title" type="text" id="form4Example1" class="form-control" placeholder="Название"/>
    <label class="form-label" for="form4Example1">Название статьи</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea v-model="card.body" class="form-control" id="form4Example2" rows="4" placeholder="Описание..."></textarea>
    <label class="form-label" for="form4Example2">Описание статьи</label>
  </div>

  <!-- Submit button -->
  <button @click="createPost" type="submit" class="btn btn-primary btn-block mb-4">Создать статью</button>
</form>
  </div>
</template>

<script>
export default {
    data(){
        return {
            card: {
                title: '',
                body: '',
            }
        }
    },
    methods: {
        createPost(){
        this.card.id = Date.now();
        this.$emit('create', this.card)
        this.card = {
            title: '',
            body: '',
        }
      }
    }
}

</script>

<style scoped>
form {
  max-width: 50vw;
  margin: auto;
}
</style>