<template>
  <div class="col">
    <div class="card .h-100">
      <img src='https://img.freepik.com/free-vector/sport-equipment-concept_1284-13034.jpg?w=360' class="card-img-top" alt="Hollywood Sign on The Hill">
      <div class="card-body">
        <h3 class="card-title">{{ card.title }}</h3>
        <p class="card-body">{{ card.body }}</p>
        <div class="buttons-print d-flex justify-content-end mt-5">
          <button @click="$router.push(`/${card.id}/${card.title}/${card.body}`)" type="button" class="btn btn-success m-3 mt-0 mb-0">Открыть</button>
          <button @click="$emit('remove', card)" type="button" class="btn btn-danger">Удалить статью</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        card: {
            type: Object,
            required: true
        }
    }
}
</script>