<template>
<div v-if="cards.length > 0">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 m-5 mt-3">
    <transition-group name="cards-list">
      <CardsItem v-for="card in cards" :card="card" :key="card.id" @remove="$emit('remove', card)"/>
    </transition-group>
  </div>
</div>
<h3 class="text-center text-danger mt-5 mb-5" v-else>
  Список статей пуст
</h3>
</template>

<script>
import CardsItem from './CardsItem.vue';

export default {
  components: { CardsItem },
  props: {
      cards: {
          type: Array,
          required: true
      }
  },
}
</script>

<style scoped>
.cards-list-item {
  display: inline-block;
  margin-right: 10px;
}
.cards-list-enter-active, .cards-list-leave-active {
  transition: all 0.6s;
}
.cards-list-enter, .cards-list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.cards-list-move {
  transition: transform 0.6s;
}
</style>