<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <router-link class="navbar-brand text-light" to="/">Спортивные мероприятия и новости</router-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Статьи
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Футбол</a></li>
            <li><a class="dropdown-item" href="#">Баскетбол</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Все статьи</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Настройки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="https://gitlab.com/illenvy/vue-app-exam">GitLab</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a class="nav-link text-light m-3 mt-0 mb-0 " href="#">Даниил Коршунов</a>
        <button class="btn btn-danger text-light m-3 mt-0 mb-0" href="#">Выход</button>
      </div>
    </div>
  </div>
</nav>
  </div>
</template>