<template>
    <div>
        <h1 class="hidden">Спортивные мероприятия и новости</h1>
        <CallToActionVue/>
        <h2 class="text-center mt-5">Список статей</h2>
        <my-select v-model="selectedSort" :options="sortOptions"/>
        <my-input v-model="searchQuery"/>
        <CardsListVue :cards="sortedAndSearchedPost" @remove="removePost" v-if="!isPostsLoading"/>
        <h3 class="text-center mt-5 mb-5" v-else>Идёт загрузка... </h3>
        <div v-if="cards.length === 0 && !isPostsLoading" class="d-flex justify-content-center mb-5">
            <button @click="fetchPosts" class="btn btn-warning">Получить статьи</button>
        </div>
        <CardsFormVue  @create="createPost"/>
        <CommentsVue/>
        <FeedbackVue/>
    </div>
</template>

<script>
import CallToActionVue from './CallToAction.vue';
import CardsListVue from './CardsList.vue';
import CardsFormVue from './CardsForm.vue';
import CommentsVue from './Comments.vue';
import FeedbackVue from './Feedback.vue';
import MySelect from './MySelect.vue';
import axios from 'axios';
import MyInput from './MyInput.vue';

  export default {
    components: {
        CallToActionVue, CardsListVue, CardsFormVue, CommentsVue, FeedbackVue, MySelect,
        MyInput
    },

    data() {
      return {
        cards: [],
        isPostsLoading: false,
        selectedSort: '',
        searchQuery: '',
        sortOptions: [
            {value: 'title', name: 'По названию'},
            {value: 'body', name: 'По содержимому'},
        ]
      }
    },
    methods: {
      createPost(card){
        this.cards.push(card);
      },
      removePost(card){
        this.cards = this.cards.filter(p => p.id !== card.id)
      },
      async fetchPosts(){
        try {
            this.isPostsLoading = true;
            const response = await axios.get('http://localhost:3000/cards')
            this.cards = response.data
        } catch(e) {
            alert('Статьи не загрузились')
        } finally {
            this.isPostsLoading = false;
        }
      }
    },
    mounted(){
        this.fetchPosts();
    },
    computed: {
      sortedPosts(){
        return [...this.cards].sort((post1, post2) => post1[this.selectedSort]?.localeCompare(post2[this.selectedSort]))
      },
      sortedAndSearchedPost() {
        return this.sortedPosts.filter(post => post.title.toLowerCase().includes(this.searchQuery.toLowerCase()))
      }
    },
  }
</script>