<template>
    <div class="input__wrapper mt-3">
        <h3 class="text-start">Поиск</h3>
        <input :value="modelValue" @input="updateinput" class="form-control" type="text" placeholder="Поиск...">
    </div>
</template>

<script>
export default {
    name: 'my-input',
    props: {
        modelValue: [String, Number]
    },
    methods: {
        updateinput(event) {
            this.$emit('update:modelValue', event.target.value)
        }
    }
}
</script>

<style scoped>
.input__wrapper {
    max-width: 50vw;
    margin: auto;
}
</style>