<template>
    <div class="select__wrapper">
        <h3 class="text-start">Сортировка</h3>
        <select class="form-select" :value="modelValue" @change="changeOption">
            <option disabled value="">Выберите из списка</option>
            <option v-for="option in options" :key="option.value" :value="option.value">{{ option.name }}</option>
        </select>
    </div>

</template>

<script>
export default {
    name: 'my-select',
    props: {
        modelValue: {
            type: String
        },
        options: {
            type: Array,
            default: () => []
        }
    },
    methods: {
        changeOption(event) {
            console.log(event.target.value)
            this.$emit('update:modelValue', event.target.value)
        }
    },
}
</script>

<style scoped>
.select__wrapper {
    max-width: 50vw;
    margin: auto;
}
</style>